#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#diets .items {
    flex-direction: column;
}

#diets .items .item {
    width: 100%;
}

.foods .food {
    flex-direction: column;
}